extends layout

block content
  h1= title
  if categories && categories.length
    ul
      each category in categories
        li
          a(href=category.url) #{category.tire_class}
          |  (#{category.season})
  else
    p There are no categories.

  if errors && errors.length > 0
    ul
      each error in errors
        li!= error.msg
