extends layout

block content

  h1 Class: #{category.tire_class}

  div(style='margin-left:20px;margin-top:20px')
    h4 #{category.tire_class} (#{category.season})
    p Description: #{category.description}
    
  hr
  p
    a(href=category.url+'/delete') Delete Category
  p
    a(href=category.url+'/update') Update Category

  if errors && errors.length > 0
    ul
      each error in errors
        li!= error.msg
