extends layout

block content
  h1= title 
  p Yellowstone Dino Lube and Reapair #[em Tire Inventory]

  p The Inventory has the following record counts: 
  
  ul
    li #[strong Tire models:] !{tire_count}
    li #[strong Tire instance count] !{instance_count}
    li #[strong Manufacturer count:] !{mfr_count}
    li #[strong Category count:] !{category_count}
    li #[strong Size count:] !{size_count}


