extends layout

block content
  h1= title 
  p Yellowstone Dino Lube and Reapair #[em Tire Inventory]

  p The Inventory has the following record counts: 
  
  ul
    li #[strong Tire models:] !{numTires}
    li #[strong Tire count] !{numInstances}
    li #[strong Manufacturer count:] !{numMfr}
    li #[strong Category count:] !{numCat}

  if errors && errors.length > 0
  ul
    each error in errors
      li!= error.msg
