extends layout

block content
  h1= title
  if mfrs && mfrs.length
    ul
      each instance in mfrs
        li
          a(href=instance.url) #{instance.name}
          |  (#{instance.location})  
  else
    p There are no manufacturers.

  if errors && errors.length > 0
    ul
      each error in errors
        li!= error.msg
