extends layout

block content
  h1 #{title}
  if ass_tires && ass_tires.length > 0
    p Delete tire instances with size: '#{size}' before deleting size.
    ul 
      each tire in ass_tires 
        li 
          a(href=tire.url) #{tire.name}
  else
   p Are you sure you want to delete this tire size?

  form(method='POST')
    input#id.form-control(type='hidden', name='id', value=size._id)
    button.btn.btn-danger(type='submit') Delete

  if errors && errors.length > 0
    ul
      each error in errors
        li!= error.msg

