extends layout

block content

  h1 #{title} 

  div(style='margin-left:20px;margin-top:20px')
    h4  #{tire_instance.tire_name_rating} 
    p Size: #{tire_instance.size} 
    p Date code: #{tire_instance.date_code}
    
  hr
  p
    a(href=tire_instance.url+'/delete') Delete Instance
  p
    a(href=tire_instance.url+'/update') Update Instance

  if errors && errors.length > 0
    ul
      each error in errors
        li!= error.msg