extends layout

block content
  h1= title 

  form(method='POST')
    div.form-group
      label(for='manufacturer') Manufacturers:
        select#manufacturer.form-control(name='manufacturer' required)
          option(value='') --Please select an manufacturer--
          each manufacturer in manufacturers           
            - const selected = tire && tire.manufacturer && manufacturer._id.toString() === tire.manufacturer._id.toString()
            if seleected 
              option(value=manufacturer._id selected)= manufacturer.name 
            else 
              option(value=anufacturer._id)= manufacturer.name           
    div.form-group
      label(for='model_name') Model:
      input#model_name.form-control(type='text', placeholder='Model of tire' name='model_name' required value=(undefined===tire ? '' : tire.model_name))
    div.form-group
      label(for='info') Info:
      textarea#info.form-control(placeholder='Info' name='info' required)= undefined===tire ? '' : tire.info
    div.form-group
      label(for='sku') SKU:
      input#sku.form-control(type='text', placeholder='sku13' name='sku' value=(undefined===tire ? '' : tire.sku) required)
    div.form-group
      label Category:
      div
        for category in categories
          div(style='display: inline; padding-right:10px;')
            if category.checked
              input.checkbox-input(type='checkbox', name='category', id=category._id, value=category._id, checked)
            else
              input.checkbox-input(type='checkbox', name='category', id=category._id, value=category._id)
            label(for=category._id) &nbsp;#{category.name}
    div.form-group 
      label Cost Price 
      input#cost.form-control(type='number', name='cost_price', required)
    div.form-group 
      label List Price 
      input#list.form-control(type='number', name='list_price', required)

    button.btn.btn-primary(type='submit') Submit

  if errors && errors.length > 0
    ul
      each error in errors
        li!= error.msg


