extends layout

block content
  h1 #{title}
    p #{tire_instance.tire.manufacturer.name} #{tire_instance.tire.model_name} #{tire_instance.size.size}
  p Are you sure you want to delete this tire instance?

  form(method='POST')
    input#id.form-control(type='hidden', name='id', value=tire_instance._id)
    button.btn.btn-danger(type='submit') Delete

  if errors && errors.length > 0
    ul
      each error in errors
        li!= error.msg

