extends layout

block content
  h1= title
  if tire_list.length
    ul
      each tire in tire_list
        li
          a(href=tire.url) #{tire.model_name}
          |  (#{tire.manfufacturer.name})

  else
    p There are no tires.

  if errors && errors.length > 0
      ul
        each error in errors
          li!= error.msg