extends layout

block content
  h1= title
  if tire_instances && tire_instances.length
    ul
      each instance in tire_instances
        li
          a(href=instance.url) #{instance.dot} 
          | #[strong Date code:] #{instance.date_code} #[strong Size: ] #{instance.size.size} #[strong Mfr/Model:] #{instance.tire.manufacturer.name} #{instance.tire.model_name}  
  else
    p There are no instances.

  if errors && errors.length > 0
    ul
      each error in errors
        li!= error.msg
