extends layout

block content
  h1= title
  if tire_instances && tire_instances.length
    ul
      each instance in tire_instances
        li
          a(href=instance.url) #{instance.dot}
          |  (#{instance.tire_name}) #{instance.size.size} 
  else
    p There are no instances.

  if errors && errors.length > 0
    ul
      each error in errors
        li!= error.msg
